<sb-card
    ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon> List des employés</div>
    <div class="card-body"><sb-ng-bootstrap-table [pageSize]="4"></sb-ng-bootstrap-table></div
></sb-card>
