<sb-layout-dashboard>
    <sb-dashboard-head title="Tables" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">The table below is adapted from ng-bootsrap. For more information, please visit the <a
                target="_blank" href="https://ng-bootstrap.github.io/#/components/table/overview">ng-bootstrap table
                documentation</a>
            </div>
        </sb-card>
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Liste des employés
            </div>
            <div class="card-body">
                <sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table>
            </div>
        </sb-card>
</sb-layout-dashboard>


