<sb-layout-auth><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5" >
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Strass boutique</h3></div>
                    <div class="card-body">
                        <form [formGroup]="authForm" (ngSubmit)="onSubmitForm()">
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Nom d'utilisateur</label><input class="form-control py-4" formControlName="username" id="inputEmailAddress" type="text" placeholder="Nom d'utilisateur" required/></div>
                            
                            <div class="form-group"><label class="small mb-1" for="inputPassword">Mot de passe</label><input class="form-control py-4"formControlName="password" id="inputPassword" type="password" placeholder="Mot de passe" required/></div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/forgot-password">Mot de passe oublié?</a><button class="btn btn-primary" type="submit" [disabled]="authForm.invalid">Se connecter</button></div>
                        </form>
                    </div>
<!--                     <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Need an account? Sign up!</a></div>
                    </div> -->

                    

                </div>
            </div>
        </div>
    </div></sb-layout-auth>
