<form>
    <div class="form-group form-inline">Rechercher: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="EmployeService.searchTerm" /><span class="ml-3" *ngIf="EmployeService.loading$ | async">recherche...</span></div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" class="bg-light text-success">Numéro</th>
                <th scope="col" class="bg-light" sbSortable="Nom" (sort)="onSort($event)"><span class="text-success">Nom</span><sb-sort-icon *ngIf='sortedColumn === "firstName"' [direction]="sortedDirection"></sb-sort-icon></th>
                <th scope="col" class="bg-light" sbSortable="prenom" (sort)="onSort($event)"><span class="text-success">Prénom</span><sb-sort-icon *ngIf='sortedColumn === "lastName"' [direction]="sortedDirection"></sb-sort-icon></th>
                <th scope="col" class="bg-light" sbSortable="fonction" (sort)="onSort($event)"><span class="text-success">Fonction</span><sb-sort-icon *ngIf='sortedColumn === "fonction"' [direction]="sortedDirection"></sb-sort-icon></th>
                <th scope="col" class="bg-light" sbSortable="lien" (sort)="onSort($event)"><span class="text-success">Action</span>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries$ | async">
                <th  scope="row">{{ country.id }}</th>
                <td><ngb-highlight [result]="country.firstName" [term]="EmployeService.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="country.lastName" [term]="EmployeService.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="country.fonction" [term]="EmployeService.searchTerm"></ngb-highlight></td>
                <td><a [routerLink]="['/products']"> details</a></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="EmployeService.page" [pageSize]="EmployeService.pageSize"></ngb-pagination
        ><select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="EmployeService.pageSize"
            ><option [ngValue]="2">2 items per page</option
            ><option [ngValue]="4">4 items per page</option
            ><option [ngValue]="6">6 items per page</option></select
        >
    </div>
</form>
